body {
  padding: 5px;
  background-image: linear-gradient(to top,gray, white);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  font-family: 'Kalam', cursive;
}
#logo {
  width: 120px;
  border-radius: 10px;
}
#logo:hover {
  cursor: pointer;
}
h1 {
  text-align: center;
}
.intro-div {
  animation: fadein 3s;
  margin-top: 120px;
  text-align: center;
  font-family: 'Kalam', cursive;
}
.intro-div h1 {
  font-size: 60px;
  font-family: 'Fredericka the Great', cursive;
}
.intro-btns {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-family: 'Kalam', cursive;
}
.intro-btns button{
  margin-top: 70px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: rgb(55, 53, 53);
  color: white;
  border-radius: 5px;
  font-size: 28px;
}
#indev {
  /* display: none; */
  font-size: 14px;
}
#mp-btn {
  opacity: .55;
}
#score, #round {
  text-align: center;
}
#timer-div {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
.question-card {
  animation: fadein 1.5s;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 350px;
}
.question-card h2 {
  margin-left: 55px;
  margin-right: 55px;
  font-size: 30px;
}
.question-card h3 {
  text-decoration: underline;
}
.question-generator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 5px;
  background-color: rgb(55, 53, 53);
  color: white;
  font-size: 32px;
}
#hidelogin {
  display: none;
}
.main-div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  font-family: 'Kalam', cursive;
  animation: fadein 2s;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-div h1 {
  font-size: 50px;
}
.round-info h2 {
  margin-top: 20px;
  font-size: 35px;
}
.main-div h3 {
  font-size: 30px;
}
.round-info{
  border-radius: 45px;
  padding: 20px;
  background-color: rgb(55, 53, 53);
  color: white;
  width: 450px;
  font-family: 'Fredericka the Great', cursive;
  margin-bottom: 20px;
}
#wrong {
  color: red;
  background-color: lightcoral;
  padding: 5px;
  border-radius: 25px;
}
#answer {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
#correct {
  color: green;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 25px;
}
.user-scores {
  text-align: center;
  margin-top: 50px;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.user-scores li {
  list-style-type: none;
  font-size: 20px;
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}


@media only screen and (max-width: 750px) {
  .question-card {
    height: 250px;
  }
  .question-card h2 {
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .question-card h3 {
    font-size: 20px;
  }
  .question-card h1{
    font-size: 26px;
  }
  #timer-div {
    margin-bottom: 0px;
  }
  .question-generator {
    font-size: 20px;
  }
  .round-info h1{
    font-size: 28px;
  }
  .round-info h2 {
    font-size: 24px;
  }
  .round-info h3{
    font-size: 20px;
  }

}