body {
  padding: 5px;
}
#logo {
  width: 120px;
}
h1 {
  text-align: center;
}
#score, #round {
  text-align: center;
}
#timer-div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.question-card {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 250px;
}
.question-generator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
#hidelogin {
  display: none;
}
.main-div {
  margin-top: 80px;
}
.user-scores {
  text-align: center;
  margin-top: 50px;
  background-color: aquamarine;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}